@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
}
/* shared styles */
.navbar, .logo, .link ul, .banner-section{
    display: flex;
}



/* header style start here */
.header{
    margin: 0 auto;
    max-width: 1280px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    height: 102px;
    padding: 0 10px;
}
.logo{
    align-items: center;
}
.logo-title{
    font-weight: bold;
    font-size: 2rem;
    line-height: 30px;
    color: #111111;
}
.navbar ul li, .footer li{
    list-style: none;
    margin: 0 15px;
}
.navbar ul a, .footer li a{
    text-decoration: none;
    font-weight: 500;
    line-height: 30px;
    font-size: 1.25rem;
}
.home{
    color: #FEA301;
}
.about{
    color: #01ACFD;
}
.facilities{
    color: #05D4DF;
}
.admission{
    color: #5D58EF;
}
.contact, .banner-btn{
    width: 197px;
    max-height: 50px;
    background-color: #FEA301;
    border-radius: 12px;
    color: #ffffff;
    padding: 10px;
    font-size: 1.25rem;
    line-height: 30px;
    font-weight: 600;
    border: none;
}
.menu-icon{
    display: none;
}
.menu{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
.banner-section{
    max-height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.banner-content{
    width: 60%;
}
.banner-title{
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 61px;
    color: #111111;
}
.banner-description{
    font-size: 1.25rem;
    color: #111111;
    margin-top: 24px;

}
.banner-btn{
    background-color: #111111;
    font-weight: bold;
    margin-top: 24px;
}
.banner-img{
    width: 35%;
}
.banner-img img{
    width: 100%;
}
/* main section styles start here */
.main{
    width: 100%;
}
/* curriculam section */
.curriculam-section{
    background-image: url("../images/bg.png"); 
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.curriculam-title{
    font-size: 2.875rem;
    font-weight: bold;
    line-height: 57.5px;
    color: #000000;
    margin-top: 60px;
}
.cards{
    max-width: 1280px;
    margin: 80px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.card{
    box-sizing: border-box;
    width: 30%;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    padding: 52px 40px;
    text-align: center;
    border-radius: 18.86px;
}
.card1{
    border-radius: 1px solid #DEF5FF;
    background-image: linear-gradient(to bottom, rgba(222, 245, 255, 1), white);
    border: 1px solid rgba(222, 245, 255, 1);
}
 .card2{
    background-image: linear-gradient(to bottom, rgb(253,243,222), white);
    border: 1px solid rgb(253,243,222);
 }
 .card3{
    background-image: linear-gradient(to bottom, rgba(242, 232, 255, 1), white);
    border: 1px solid rgba(242, 232, 255, 1);
 }
 .card1 .readmore-btn{
    color: #64C8FF;
 }
 .card2 .readmore-btn{
    color: #F0AA00;
 }
.card3 .readmore-btn{
    color: #8700FF;
}

.card img{
    margin-bottom: 32px;
}
.card-title{
    font-weight: bold;
    font-size: 1.5325rem;
    line-height: 30.7px;
    color: #202020;
    margin-bottom: 33px;
}
.card-description{
    font-weight: 500;
    font-size: 0.943125rem;
    margin-bottom: 33px;
    line-height: 28.3px;
}
.readmore-btn{
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: 0.943125rem;
    line-height: 28.3px;
}
.arrow{
    display: flex;
    gap: 10px;
    justify-self: center;
    margin-top: 80px;
    margin-bottom: 60px;
}
.arrow p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #FEA301;
    border-radius: 50%;
}
.arrow p i{
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: bold;
    color: white;
}
/* story section styles */
.stories-title{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
    color: #000000;
    font-weight: bold;
    font-size: 2.875rem;
    line-height: 57.5px;
}
.stories-section{
    box-sizing: border-box;
    background-image: linear-gradient(to top, rgba(249,222,175,0.53), rgba(255, 255, 255, 0.5)), url("../images/bg.png");;
    padding: 6px 10px 43px 10px;
}
.stories-content{
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    gap: 18px;
}
.stories-1{
    width: 50vw;
    background-color: white;
    border-radius: 16px;
}
.story1-img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.stories1-content{
    padding: 58px 38px 34px 38px;
}
.stories1-date{
    box-sizing: border-box;
    padding-top: 9px;
    text-align: center;
    position: relative;
    background-color: rgba(60, 216, 232, 1);
    border-radius: 48px;
    width: 174px;
    height: 47px;
    margin-top: -89px;
    margin-left: 30px;
    font-weight: 500;
    line-height: 28.8px;
    font-size: 0.95875rem;
    color: white;
    font-family: "Raleway", serif;
}
.stories1-title{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 38.3px;
    color: #000000;
}
.stories1-description{
    font-weight: 500;
    color: #666666;
    line-height: 28.8px;
    font-size: 0.95875rem;
    margin-top: 47px;
}
.stories-2{
    width: 100%;
    display: grid;
    gap: 19px;
    grid-template-columns: repeat(2, 1fr);
}
.story{
    border-radius: 16px;
    background-color: #FFFFFF;
}
.story img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.date{
    box-sizing: border-box;
    padding-top: 3px;
    padding-bottom: 2px;
    text-align: center;
    position: relative;
    background-color: rgba(149, 178, 38, 1);
    border-radius: 48px;
    max-width: 174px;
    max-height: 38px;
    margin-top: -24px;
    margin-left: 38px;
    font-weight: 500;
    line-height: 28.8px;
    font-size: 0.95875rem;
    color: white;
    font-family: "Raleway", serif;
}
.date2{
    background-color: rgba(93, 88, 240, 1);
}
.story .p2{
    margin: 30px;
    font-weight: bold;
    font-size: 0.95875rem;
    line-height: 28.8px;
    color: #000000;
}
.story-btn{
    display: block;
    margin: 80px auto 0 auto;
    padding: 10px;
    border-radius: 12px;
    background-color: black;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 30px;
    font-size: 1.25rem;
    border: none;
    width: 197px;
    height: 50px;

}
marquee{
    border-top: 1px solid rgb(195, 210, 216);
    border-bottom: 1px solid rgb(195, 210, 216);
    margin-top: 30px;
    padding: 2px 0px 2px 0px;
    font-size: 2rem;
    font-weight: 500;
    color: rgb(196, 22, 115);
}

/* footer section styles start here */
.footer{
    width: 100%;
    height: 450px;
    background-color: #01ACFD;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.footer-content{
    max-width: 1180px;
    height: 222px;
    display: grid;
    padding: 0 10px;
    grid-template-columns: repeat(3, 1fr);
    
}
.content1-title{
    line-height: 52px;
    font-size: 2.63rem;
    font-weight: bold;
    display: flex;
    margin-bottom: 35px;
}
.content1-title img{
    margin-left: -10px;
}
.content1-description{
    font-size: 1.25rem;
}
.footer-con-2{
    margin-left: 130px;
    margin-right: 50px;
}
.content2-title{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 32px;
}
.footer li{
    margin-bottom: 20px;
    margin-left: 0px;
}
.footer li a{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.25rem;
}
.content3-title{
    font-weight: bold;
    line-height: 26px;
    font-size: 1.625rem;
    margin-bottom: 32px;
}
.footer-con-3 img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

/* Responsive Design for Small Screens  */
  @media (max-width: 576px) {
    .menu-icon {
        display: block;
    }
    .link ul, .contact, .logo-title, .stories-1{
        display: none;
    }
    .navbar{
        border: 1px solid orange;
    }
    .banner-section{
        flex-direction: column-reverse;
        padding: 0 13px;
    }
    /* .banner-title{
        font-size: 2rem;
    } */
    .banner-img, .banner-content{
        width: 100%;
    }
    .banner-content{
        text-align: center;
    }
    .cards{
        flex-direction: column;
        padding: 13px;
        gap: 15px;
        margin-top: 10px;
    }
    /* .curriculam-title{
        font-size: 1.8rem;
    } */
    .card{
        width: 100%;
    }
    /* .card-title{
        font-size: 1.5rem;
    } */
    .arrow{
        display: none;
    }
    .story{
        width: 100%;
    }
    .stories-2{
        padding: 0px 4px 0px 4px;
    }
    .date{
        padding: 0px;
        margin-left: 8px;
    }
    .footer{
        height: auto;
    }
    .footer-content{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
        height: auto;
    }
    .content1-title{
        margin-top: 65px;
    }
    .footer-con-2{
        margin-left: 0px;
    }
    .footer-con-3 img{
        margin-bottom: 20px;
    }
    

}